pipeline/pipe_main.json
{
	"name": "pipe_main",
	"properties": {
		"activities": [
			{
				"name": "sic_to_isic",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "sic_to_isic",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "webhook",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "sic_to_isic",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipe_webhook",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"runId": "@activity('LoadDataPipeline').output['pipelineRunId']",
						"status": "@activity('sic_to_isic').status"
					}
				}
			}
		],
		"annotations": []
	}
}