pipeline/pipe_main.json
{
	"name": "pipe_main",
	"properties": {
		"activities": [
			{
				"name": "sic_to_isic",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "sic_to_isic",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "webhook",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "sic_to_isic",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipe_webhook",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"runId": {
							"value": "@activity('LoadDataPipeline').output['pipelineRunId']",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('sic_to_isic').status",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"enableStaging": false
				}
			}
		],
		"annotations": []
	}
}