pipeline/pipe_webhook.json
{
	"name": "pipe_webhook",
	"properties": {
		"activities": [
			{
				"name": "Set JSON schema",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "messageCard",
					"value": "{\n    \"@type\": \"MessageCard\",\n    \"@context\": \"http://schema.org/extensions\",\n    \"themeColor\": \"0076D7\",\n    \"summary\": \"Pipeline status alert message​​​​\",\n    \"sections\": [\n        {\n            \"activityTitle\": \"Pipeline execution alert​​​​\",\n            \"facts\": [\n                {\n                    \"name\": \"Subscription Id:\",\n                    \"value\": \"@{pipeline().parameters.subscription}\"\n                },\n                {\n                    \"name\": \"Resource Group:\",\n                    \"value\": \"@{pipeline().parameters.resourceGroup}\"\n                },\n                {\n                    \"name\": \"Data Factory Name:\",\n                    \"value\": \"@{pipeline().DataFactory}\"\n                },\n                {\n                    \"name\": \"Pipeline RunId:\",\n                    \"value\": \"@{pipeline().parameters.runId}\"\n                },\n                {\n                    \"name\": \"Pipeline Status:\",\n                    \"value\": \"@{pipeline().parameters.status}\"\n                },\n                {\n                    \"name\": \"Notification Time (UTC):\",\n                    \"value\": \"@{utcnow()}\"\n                }\n            ],\n            \"markdown\": true\n        }\n    ],\n    \"potentialAction\": [\n        {\n            \"@type\": \"OpenUri\",\n            \"name\": \"View pipeline run\",\n            \"targets\": [\n                {\n                    \"os\": \"default\",\n                    \"uri\": \"@{concat('https://synapse.azure.com/monitoring/pipelineruns/',pipeline().parameters.runId,'?factory=/subscriptions/',pipeline().parameters.subscription,'/resourceGroups/',pipeline().parameters.resourceGroup,'/providers/Microsoft.DataFactory/factories/',pipeline().DataFactory)}\"\n                }\n            ]\n        }\n    ]\n}"
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set JSON schema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://zuhlke.webhook.office.com/webhookb2/ae24176e-8d35-4b52-bf89-fbaf738db036@ccce7f5e-a35f-4bc3-8e63-b2215e7d14f9/IncomingWebhook/efa6e2890ad849cdbafce4761b429953/e75998f3-d1d1-4ac0-a7cc-4a979e7f65af",
					"method": "POST",
					"body": "@json(variables('messageCard'))"
				}
			}
		],
		"parameters": {
			"subscription": {
				"type": "string",
				"defaultValue": "DC 3ed95ba0-5db6-4cad-b73d-f35644709a3a"
			},
			"resourceGroup": {
				"type": "string",
				"defaultValue": "practise-for-allianz"
			},
			"runId": {
				"type": "string",
				"defaultValue": "@activity('LoadDataPipeline').output['pipelineRunId']"
			},
			"status": {
				"type": "string",
				"defaultValue": "@activity('sic_to_isic').status"
			}
		},
		"variables": {
			"messageCard": {
				"type": "String"
			}
		},
		"annotations": []
	}
}